<!DOCTYPE html>
<html>

	<head>
		<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
		<meta content="telephone=no" name="format-detection" />
		<meta content="email=no" name="format-detection" />
		<meta charset="utf-8">
		<title>{{$web_name}}</title>
		{{include file='../common/importAll.html'}}
		<link rel="stylesheet" href="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/m/css/comm.css" />
		<link rel="stylesheet" href="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/m/css/index.css" />
		<link rel="stylesheet" href="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/m/css/swiper.min.css" />
	</head>

	<body class="wap-bg-1">
	<header class="wap-bg-4 wap-pst-r" id="listheader">
		<h3 class="wap-fnts-2">商家推荐</h3>
		<a href="#" class="list-top-a1"  id="check"><img src="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/m/images/fkico.png" /></a>
		<a href="" onClick="javascript:history.back(-1);"  class="list-top-a2"><img src="{{formatUrl('domain')}}{{formatUrl('home')}}statics/{{config_item('style')}}/m/images/jtico.png"  /></a>
	</header>
	<div id="listnavbox" style="display: none;">
		<div class="navlist1 wap-bg-2 wap-pad-1">
			<ul class="listnav">
				<li><a href="/m/">首页</a></li>
				<li class="blue"><a href="/m/shop">商家推荐</a></li>
				<li ><a href="/m/car">特惠车型</a></li>
				<li><a href="/m/huddle">报团看车</a></li>
			</ul>
			<div class="listbox">
				<h3 class="wap-fnts-1">品牌</h3>
				<ul class="listnav">
					<li class="blue"><a href="">不限</a></li>
					{{if !empty($brand)}}
					{{foreach $brand.rows as $v}}
					<li><a href="/m/search?brand={{$v.id}}">{{$v.name}}</a></li>
					{{/foreach}}
					{{/if}}
				</ul>
			</div>
			<div class="listbox">
				<h3 class="wap-fnts-1">车型</h3>
				<ul class="listnav">
					<li class="blue"><a href="">不限</a></li>
					{{if !empty($grade)}}
					{{foreach $grade.rows as $v}}
					<li><a href="/m/search?grade={{$v.id}}">{{$v.name}}</a></li>
					{{/foreach}}
					{{/if}}
				</ul>
			</div>
			<div class="listbox">
				<h3 class="wap-fnts-1">价格</h3>
				<ul class="listnav">
					<li class="blue"><a href="">不限</a></li>
					{{if !empty($price)}}
					{{foreach $price.rows as $v}}
					<li><a href="/m/search?price={{$v.name}}">{{$v.name}}万</a></li>
					{{/foreach}}
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var Abut=document.getElementById("check");
		var ListNavBox=document.getElementById("listnavbox");
		Abut.onclick=function(){
			if(ListNavBox.style.display=="block"){
				ListNavBox.style.display="none";
			}else{
				ListNavBox.style.display="block";
			}

		}
	</script>
	<!--推荐车型-->
	<!--商家推荐-->
	<section id="content-box" class="wap-bg-2 wap-marg-t-1">
		<div class="text-list">
			<ul class="wap-ul-1">
				{{if !empty($list.list)}}
				{{foreach $list.list.rows as $v}}
				<li>
					<a href="{{formatUrl('cars_m','cars',$v.id)}}">
						<img src="{{$v.tu1}}" />
						<dl class="text-dl-1 wap-pst-r">
							<dd>{{cut_str($v.carname, 18)}}</dd>
							<dt>{{cut_str($v.message, 18)}}</dt>
							<dt class="wap-red">时间:{{date('Y年m月d日',$v.stime)}}~{{date('Y年m月d日',$v.etime)}}</dt>
							<i>{{$v.price}}万/起</i>
						</dl>
					</a>
				</li>
				{{/foreach}}
				{{/if}}
			</ul>
		</div>
	</section>
	<section>
		<div class="c_page">
			{{if !empty($list)}}
			{{$list.list.pages}}
			{{/if}}
		</div>
	</section>
		{{include file='../common/footer.html'}}
	</body>

</html>